<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Hello Spring Boot!!</h2>
<a href="/req1?p1=aaa&p2=123">query string</a>
<a href="/req2/aaa">path variable</a>
<form action="/req3" method="post">
    name : <input type="text" name="name"> <br>
    age : <input type="text" name="age"> <br>
    <input type="submit" value="전송">
</form>

<a href="/req4">변수하나 출력하기</a><br>
<a href="/req5">DTO 객체 출력하기</a><br>
<a href="/req6">리스트 객체 출력하기</a><br>


</body>
</html>